.About-wrapper { 
  .header {
    display: flex;
    flex-direction:column;
    @media only screen and (min-width: 1024px) {
      flex-direction:row;
      justify-content:space-between;
    }
  }
  .header-image {
    margin-top:30px;
    height:165px;
    @media only screen and (min-width: 1024px) {
      height:228px;
      margin: 0 0 0 80px;
    }
  }
  .content-wrapper {
    display:flex;
    flex-direction:column;
    margin-top:20px;
    @media only screen and (min-width: 1024px) {
      flex-direction:row;
      :nth-child(1) {
        margin-right:20px;
      }
    }
    .content-section {
      background: $light-blue;
      border-radius: 20px;
      padding:15px 25px 20px 25px;
      margin-bottom:20px;
    }
    .content-sectionHeader {
      display:flex;
      justify-content: space-between;
      img {
        height:37px;
        @media only screen and (min-width: 1024px) {
          display:none;
        }
      }
    }
    .content-section:nth-child(2) {
      .content-sectionHeader {
        img {
          height:55px;
        }
      }
      .content-body {
        img {
          height:69px;
        }
      }
    }
    .content-body {
      display:flex;
      align-items:center;
      p {
        margin-top:5px;
      }
      img {
        display:none;
        height:44px;
        margin-left:10px;
        @media only screen and (min-width: 1024px) {
          display:block;
        }
      }
    }
  }
  .content-footer {
    height:160px;
  }
}