.footer {
  padding-top:15px;
  background-color: $dark-blue;
  width: 100%;
  height: 242px;
  color: white;
  z-index: -10;
  @include media('tablet') {
    height:156px;
  }
  
  .content {
    @include media('tablet') {
      display:flex;
      align-items:center;
    }
  }

  .social-wrapper {
    margin: 20px 0 0 20px;
    width: 250px;
    @include media('tablet'){
      margin-left: 5vw;
    }
  }

  .social-wrapper {
    @include media('desktop') {
      margin-left: 13vw;
    }
    a img {
      margin-right:20px;
    }
    :nth-child(2) {
      width:20px;
      img {
        @include media('tablet') {
          width:30px;
        }
      }
    }
    :nth-child(3) {
      width:10px;
      img {
        @include media('tablet') {
          width:15px;
        }
      }
    }
    
  }

  .share-wrapper {
    display: flex;
    margin:30px 0 0 20px;
    font-weight: 700;
    font-size: .87em;
    width:130px;
    @include media('desktop') {
      margin-left: 5vw;
    }
    .button_i-voted {
      width:54px;
      height:54px;
      margin-right: 18px;
    }
    .div_shareButtons {
      p {
        margin-bottom:5px;
        width:180px;
      }
      div {
        width: 180px;
      }
      .fb-share-button {
        bottom:5px;
        margin-right:15px;
        width: 84px;
      }
    }
  }

  .privacy-policy {
    margin-top:35px;
    text-align: center;
    font-size: .75em;
    a {
      text-decoration: none;
      color:white;
    }
    @include media('tablet') {
      font-size:1.06em;
      width:400px;
      position: static;
      margin:0;
      margin-left:17vw;
      margin-top:25px;
    }
    @include media('desktop') {
      margin-left:21vw;
    }
  }
}