#geocoder {
  position: absolute;
  bottom: 0;
  left: 5px;
  width: 80%;

  .mapboxgl-ctrl-geocoder--icon-search {
    float: left;
  }

  .mapboxgl-ctrl-geocoder--pin-right {
    float: right;
  }

  .mapboxgl-ctrl-geocoder--button {
    position: absolute;
  }

  .mapboxgl-ctrl-geocoder--icon-loading {
    position: absolute;
  }

  .suggestions-wrapper {
    position: absolute;
  }
}