.Volunteer-wrapper {
  p {
    font-size: 1.1em;
    line-height: 1.4;
  }
  .header-wrapper {
    display:flex;
    flex-direction:column;
    @media only screen and (min-width: 1024px) {
      flex-direction:row;
    }
    .header-content {
      @media only screen and (min-width: 1024px) {
        width:60%;
        }
    }
    h1 {
      line-height:45px;
    }
    h2 {
      margin-top: 10px;
      line-height:30px;
    }
    h2.red {
      color: $red;
      margin-top: 20px;
      margin-bottom: -10px;
    }
    img {
      overflow:hidden;
      height:144px;
      margin: 0 0 -17px -12px;
      @media only screen and (min-width: 1024px) {
        height:211px;
        position: relative;
        bottom: -45px;
      }
    }
  }
  .cards-wrapper {
    margin-top: 30px;
    display:flex;
    flex-direction:column;
    justify-content: center;
    @media only screen and (min-width: 1024px) {
      flex-direction:row
    }
    .volunteer-card {
      z-index: 1;
      color: $dark-blue;
      background:$light-blue;
      min-height: 70px;
      padding: 15px;
      @media only screen and (min-width: 1024px) {
        border-radius:20px;
        height:auto;
        width:269px;
        margin-right:15px;
      }
      p {
        margin-top:5px;
      }
    }
    :nth-child(1) {
      border-top-left-radius:20px;
      border-top-right-radius:20px;

    }
    :nth-child(4) {
      border-bottom-left-radius:20px;
      border-bottom-right-radius:20px;
      height:80px;
      @media only screen and (min-width: 1024px) {
        height:108px;
      }
    }
  }
  .apply-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    @media only screen and (min-width: 1024px) {
      display:block;
    }
    p {
      margin-top:40px;
    }
    a.button {
      color:white;
      background:$blue;
      border-radius:40px;
      height:54px;
      width:124px;
      font-weight:700;
      margin-top:50px;
    }
    div {
      display:flex;
      justify-content:center;
      margin-bottom: 40px;
    }
  }
}
