.ballotNavLogo {
  height: 25pt;
  margin: var(--standardMargin);
}

.menu {
  display: flex;
  padding: var(--standardPadding);
}

input {
  height: 20pt;
  margin: var(--standardMargin);
  font-size: 18pt;
  width: 100%;
  border: 2px solid var(--ballotBlueLight);
  border-radius: var(--standardRadius);
  outline: none;
}

.application {
  height: 100vh;
  overflow: hidden;
}

.sidePanel {
  background: #ffffff;
  height: 100%;
  width: 100%;
}

.sidePanelScroll {
  overflow: scroll;
  height: 100%;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.sidePanelScroll::-webkit-scrollbar {
  display: none;
}

.search {
  float: right;
}

.searchText {
  font-size: 16pt;
}
