* {
  margin: 0;
  font-family: sans-serif;
}

h1 {
  font-size: 18pt;
  margin: var(--standardMargin);
}

p {
  font-size: 16pt;
  margin: var(--standardMargin);
}

a {
  color: var(--ballotBlue);
}

:root {
  --ballotBlue: #1b2152;
  --ballotBlueLight: #7a80ac;
  --ballotBlueDark: #040822;
  --routeRed: #ff0029;
  --routeRedDark: #6e0012;
  --standardMargin: 25px;
  --standardPadding: 10px;
  --standardRadius: 5px;
}
