/* use global or create variables whenever possible */
:root {
  --ballotBlue: #1b2152;
  --ballotBlueLight: #7a80ac;
  --ballotBlueDark: #040822;
  --routeRed: #ff0029;
  --routeRedDark: #6e0012;
  --standardMargin: 25px;
  --standardPadding: 10px;
  --standardRadius: 5px;
}

* {
  margin: 0;

  /* choose better font */
  font-family: sans-serif;
}

/* title in application sidebar */
h1 {
  font-size: 18pt;
  margin: var(--standardMargin);
}

/* details in application sidebar */
p {
  font-size: 16pt;
  margin: var(--standardMargin);
}

a {
  color: var(--ballotBlue);
}

input {
  height: 20pt;
  margin: var(--standardMargin);
  font-size: 18pt;
  width: 100%;
  border: 2px solid var(--ballotBlueLight);
  border-radius: var(--standardRadius);
  outline: none;
}

select {
  height: 24pt;
  margin: var(--standardMargin);
  font-size: 18pt;
  width: 150pt;
  border: 2px solid var(--ballotBlueLight);
  border-radius: var(--standardRadius);
  outline: none;
}
