$red: #FF0029;
$blue: #1B2152;
$dark-blue: #040822;
$light-blue: #EBF3FA;
$primary: $blue;
$link-blue: #0819A5;
$link: $link-blue;

.About-wrapper {
  margin: 0 auto;
  max-width: 1024px;
  padding: 35px 20px 0;

  h1 {
    color: $red;
    font-size: 1.5em;
  }
  h2 {
    font-size:1.125em;
    font-weight:700;
  }
  h3 {
    line-height: 1.18em;
  }
  p {
    font-size: 1.1em;
    line-height: 1.4;
  }
  p.bold {
    margin-top: 20px;
  }
  h2 {
    color: $red;
    margin-top: 10px;
  }
  .header {
    display: flex;
    flex-direction:column;
    @media only screen and (min-width: 960px) {
      flex-direction:row;
      justify-content:space-between;
    }
  }
  .header-image {
    margin-top:30px;
    height:165px;
    @media only screen and (min-width: 960px) {
      height:228px;
      margin: 0 0 0 80px;
    }
  }
  .content-wrapper {
    display:flex;
    flex-direction:column;
    margin-top:20px;
    a {
      text-decoration: underline;
    }
    @media only screen and (min-width: 960px) {
      flex-direction:row;
      :nth-child(1) {
        margin-right:20px;
      }
    }
    .content-section {
      background: $light-blue;
      border-radius: 20px;
      padding:15px 25px 20px 25px;
      margin-bottom:20px;
    }
    .content-sectionHeader {
      display:flex;
      justify-content: space-between;
      img {
        height:37px;
        @media only screen and (min-width: 960px) {
          display:none;
        }
      }
    }
    .content-section:nth-child(2) {
      .content-sectionHeader {
        img {
          height:55px;
        }
      }
      .content-body {
        img {
          height:69px;
        }
      }
    }
    .content-body {
      display:flex;
      align-items:center;
      p {
        margin-top:5px;
      }
      img {
        display:none;
        height:44px;
        margin-left:10px;
        @media only screen and (min-width: 960px) {
          display:block;
        }
      }
    }
  }
  .content-footer {
    margin-bottom: 30px;
  }
  span.brigade-links a {
    margin-right: 10px;
  }
}
