/*
*  Define new sass variables or overwrite Bulma's default variables before the imports.
*  See https://bulma.io/documentation/customize/variables/ and component-specific
*  Bulma docs for more variables.
*
*  Example:
*    $primary: #002449;
*    $dropdown-item-color: $primary;
*/

@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import '~mapbox-gl/dist/mapbox-gl.css';
@import '~@mapbox/mapbox-gl-geocoder/dist/mapbox-gl-geocoder.css';

$red: #FF0029;
$blue: #1B2152;
$dark-blue: #040822;
$light-blue: #EBF3FA;
$primary: $blue;

$family-primary: 'Open Sans';

@import "~bulma/bulma.sass";
@import "~bulma-switch/dist/css/bulma-switch.sass";