/*
*  Define new sass variables or overwrite Bulma's default variables before the imports.
*  See https://bulma.io/documentation/customize/variables/ and component-specific
*  Bulma docs for more variables.
*
*  Example:
*    $primary: #002449;
*    $dropdown-item-color: $primary;
*/

@charset "utf-8";

@import '~rsuite/dist/styles/rsuite-default.css';
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');
@import '~mapbox-gl/dist/mapbox-gl.css';
@import '~@mapbox/mapbox-gl-geocoder/dist/mapbox-gl-geocoder.css';

$red: #FF0029;
$blue: #1B2152;
$dark-blue: #040822;
$light-blue: #EBF3FA;
$primary: $blue;
$link-blue: #0819A5;

$family-primary: 'Open Sans', sans-serif;
$link: $link-blue;

// $breakpoints: (
//   "mobile": 360px,
//   "tablet": 768px,
//   "desktop": 1366px,
// ) !default;

@mixin media($breakpoint) {
  @if $breakpoint == mobile {
    @media (min-width: 22.5em) {@content} 
  }
  @if $breakpoint == tablet {
    @media (min-width: 48em) {@content}
  }
  @if $breakpoint == desktop {
    @media (min-width: 85.375em) {@content}
  }
}

@import "~bulma/bulma.sass";
@import "~bulma-switch/dist/css/bulma-switch.sass";