@charset "utf-8";

$red: #FF0029;
$blue: #1B2152;
$dark-blue: #040822;
$light-blue: #EBF3FA;
$primary: $blue;
$link-blue: #0819A5;
$link: $link-blue;

@import './main/pages';
@import './main/about';
@import './main/volunteer';
