@charset "utf-8";

$red: #FF0029;
$blue: #1B2152;
$dark-blue: #040822;
$light-blue: #EBF3FA;
$primary: $blue;
$link-blue: #0819A5;
$link: $link-blue;

// remove persistent vertical scrollbar
$body-overflow-y: auto;

a {
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
}

@import './main/pages';
@import './main/about';
@import './main/volunteer';
