#map-container {
  position: absolute;
  top: 132px;
  right: 0;
  left: 0;
  bottom: 0;
  margin: 0 auto;

  @media only screen and (min-width: 768px) {
    width: 1000px;
  }
}

#map-geocoder {
  margin: 10px;
};