.result-detail-drawer {
  a {
    text-decoration: underline;
    color: $blue;
    font-weight: bold;
  }

  #back-arrow {
    margin: 0 10px 4px -6px;
  }

  h1 {
    font-size: 1.2em;
    font-weight: bold;
    color: $blue;
  }

  div.rs-drawer-header {
    margin: 20px 20px 10px;
  }

  .result-card-content-wrapper {
    margin-bottom: 10px;
  }

  img {
    margin-left: -10px;
    margin-top: -2px;
  }

  h4 {
    color: $black;
    display: inline;
    line-height: 0px;
  }

  .second-line {
    margin-left: 12px;
  }

  div.rs-drawer-body {
    margin: 0;
    padding: 0 20px;
  }

  span.icon {
    color: $blue;
    float: left;
  }

  div.hours-dropdown {
    margin: 20px 0 0 -6px;
  
    .rs-dropdown {
      width: 90%;
      margin: -11px 0 0 2px;
    }

    a {
      font-size: 16px;
      padding-left: 5px;
      margin-left: 3px;
    }

    ul.rs-dropdown-menu {
      width: 85%;
    }
  }
}