.result-detail-drawer {
  a {
    text-decoration: underline;
    color: $blue;
    font-weight: bold;
  }

  #back-arrow {
    margin: 0 10px 4px -6px;
  }

  h1 {
    font-size: 1.2em;
    font-weight: bold;
    color: $blue;
  }

  div.rs-drawer-header {
    margin: 20px 20px 0;
  }

  div.rs-drawer-body {
    margin: 0px 20px;
  }
}