div.result-card {
  border: 1px solid $grey;
  margin-bottom: 15px;
  padding: 0 15px 10px;
  border-radius: 10px;

  h3 {
    font-weight: bold;
    color: $blue;
  }

  img {
    margin-left: -10px;
    margin-bottom: 3px;
    float: left;
  }

  h4 {
    color: $black;
    display: inline;
    line-height: 0px;
  }

  .result-card-content-wrapper {
    margin-bottom: 10px;
  }

  a {
    text-decoration: underline;
  }
}