.searchSelection {
  background-color: #f3f3f3;
  padding: var(--standardPadding);
  transition: 300ms ease;
  margin: 5px 0 5px 5px;
  height: 100%;
  overflow: scroll;
}

.detail {
  font-size: 14pt;
}
