name: Client CI
on:
  push:
    branches:
      - main
      - master
  #  paths:
  #    - "client/web/**"

jobs:
  client:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [12.x]
    name: build & push client

    steps:
      - name: Checkout repo
        uses: actions/checkout@v2
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node-version }}
      - name: Install Packages
        run: cd client/web && npm install
      - name: Build React App
        run: cd client/web && npm run build
      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: us-west-2
      - name: print current directory
        run: cd client/web && ls -la
      - name: Push to s3
        run: aws s3 sync client/web/build/ s3://dev.ballotnav.org
